body {
  background-color: #3e4198;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;

}

div {
  background-color: skyblue;
  /* effecting iphone sizing */
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 5px dashed black;
}